header .header-content .header-content-inner h1 {
    color: #f05f40;
}
header .header-content .header-content-inner p {
    color: #f05f40;
}
header .header-content .header-content-inner p, h1 {
    font-weight: bold;
    text-transform: uppercase;
}
.form-horizontal {
    margin: 10px 5px 0 5px;
}
div #msgSubmit {
    margin-top: 20px;
}
.portfolio-box {
    cursor: pointer;
}
iframe {
    margin: 5px;
}
ol, ul {
    padding: 5px;
    list-style-type: none;
}

/* set position for small images */

img.img-responsive.img-modal {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}
img.pull-left {
    padding-right: 10px;
}

/* center images*/

img.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* modal box */

.modal-box {
    display: block;
    position: relative;
    margin: 50px auto 0;
    max-width: 400px;
}
@media(min-width:992px) {
    .modal-box {
        margin: 20px auto 0;
    }
}
.modal-box p {
    margin-bottom: 0;
}

/* The Modal (background) */

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.7);
    /* Black w/ opacity */
}

/* Modal Content/Box */

.modal-content {
    background-color: #000;
    margin: 10% auto;
    /* 15% from the top and centered */
    padding: 10px;
    border: 1px solid #000;
    width: 90%;
    /* Could be more or less, depending on screen size */
}

/* Modal Content/Box alternate*/

.modal-content-alternate {
    background-color: #fff;
    margin: 10% auto;
    /* 15% from the top and centered */
    padding: 10px;
    border: 1px solid #fff;
    width: 90%;
    /* Could be more or less, depending on screen size */
}

/* The Close Button */

.modal-close {
    color: #f05f40;
    float: right;
    font-size: 20px;
    font-weight: bold;
}
.modal-close:hover, .modal-close:focus {
    color: #f05f40;
    text-decoration: none;
    cursor: pointer;
}

/* Navbar primary */

.navbar-primary {
    border-color: rgba(34, 34, 34, .05);
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    background-color: #f05f40;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}
.navbar-primary .navbar-header .navbar-brand {
    text-transform: uppercase;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    font-weight: 700;
    color: rgba(255, 255, 255, .7);
    ;
}
.navbar-primary .navbar-header .navbar-brand:hover, .navbar-primary .navbar-header .navbar-brand:focus {
    color: #fff;
}
.navbar-primary .nav> li>a, .navbar-primary .nav>li>a:focus {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    color: #fff;
}
.navbar-primary .nav> li>a:hover, .navbar-primary .nav>li>a:focus:hover {
    color: #f05f40;
}
.navbar-primary .nav> li.active>a, .navbar-primary .nav>li.active>a:focus {
    color: #fff!important;
    background-color: transparent;
}
.navbar-primary .nav> li.active>a:hover, .navbar-primary .nav>li.active>a:focus:hover {
    background-color: transparent;
}
@media(min-width:768px) {
    .navbar-primary {
        border-color: rgba(255, 255, 255, .3);
    }
    .navbar-primary .navbar-header .navbar-brand {
        color: rgba(255, 255, 255, .7);
    }
    .navbar-primary .navbar-header .navbar-brand:hover, .navbar-primary .navbar-header .navbar-brand:focus {
        color: #fff;
    }
    .navbar-primary .nav> li>a, .navbar-primary .nav>li>a:focus {
        color: rgba(255, 255, 255, .7);
    }
    .navbar-primary .nav> li>a:hover, .navbar-primary .nav>li>a:focus:hover {
        color: #fff;
    }
    .navbar-primary.affix {
        border-color: #f05f40;
        background-color: #f05f40;
    }
}

/* default setting navbar links, color */
@media (min-width: 768px){
.navbar-default .nav > li>a, .navbar-default .nav>li>a:focus {
    color: #f05f40;
  }
}

@media (min-width: 768px){
.navbar-default .navbar-header .navbar-brand {
    color: #f05f40;
  }
}

/* Navbar Collapsed Button alternate */

button.navbar-toggle.alternate.collapsed, button.navbar-toggle.alternate {
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, .7);
    background-image: none;
}
button.navbar-toggle.alternate.collapsed span.icon-bar, button.navbar-toggle.alternate span.icon-bar {
    background-color: rgba(255, 255, 255, .7);
}

/* google map */

#map {
    width: 500px;
    height: 400px;
}

/* pic animation */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
.tilt {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.tilt:hover {
    -webkit-transform: rotate(-5deg);
    -moz-transform: rotate(-5deg);
    -o-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    transform: rotate(-5deg);
}

/* datepicker background */
div[class^="ui-datepicker"], .ui-datepicker-header .ui-widget-header .ui-helper-clearfix .ui-corner-all{
    background-color:#fff;
}
